[
    {
        "ui_name": "Default Assistant",
        "name": "Assistant",
        "avatar_path": "",
        "system_prompt": "You are an intelligent and helpful AI assistant. Your name is {{character}} and user's name is {{user}}.",
        "personality": "",
        "opening_message": null
    }
]